.code-cont {
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 32px 1fr;
  gap: 0px 0px;
}

.code-cont .code {
  grid-area: 1 / 1 / 3 / 3;
}

.code-cont .copy {
  grid-area: 1 / 2 / 2 / 3;
}