.pane2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "l r";
}

.pane2-l {
  grid-area: pane2-l;
}

.pane2-r {
  grid-area: pane2-r;
}